@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

body, html{
  height: 100%;
  background-color: #fafafa;
}


.chat{
  min-width: 980px;
  height: 100%;

  .chat-side {
    float: left;
    width: 300px;
    height: 100%;
    background-color: #2f3e51;

    .chat-user{
      height: 100px;
      color: #fff;
      background-color: #253141;

      @include clearfix();

      h5{
        float: left;
        padding: 20px;
        line-height: 60px;
        letter-spacing: 2px;
        font-size: 16px;
      }

      &__actions{
        float: right;
        padding: 20px;
        line-height: 60px;

        &__action{
          float: left;
          line-height: 60px;

          .fa{
            color: white;
          }
        }
      }
    }

    .chat-groups{
      margin: 0;
      padding: 20px;
      color: #FFFFFF;

      li{
        list-style: none;
      }

      .chat-group{

        &__name{
          font-size: 15px;
          padding: 20px 0 5px 0;
          color: white; 
          font-weight: bold;
        }

        &__message{
          font-size: 11px;
          padding-bottom: 20px;
        } 
      }
    }
  }

  .chat-main{
    float: left;
    position: relative;
    width: calc(100% - 300px);
    height: 100%;

    .chat-header {
      height: 100px;
      padding-right: 40px;
      padding-left: 40px;
      background-color: #fff;
      border-bottom: 1px solid #eee;

       @include clearfix();

      .chat-header--left{
          float: left;

        h2{
          margin-top: 20px;
          line-height: 50px;
          letter-spacing: 2px;
          color: #333;
          font-size: 20px;
          font-weight: 400;
        }

        p{
          line-height: 20px;
          color: #999;
          font-size: 12px;
        }
      }

      .chat-header--right{
        float: right;

        .chat-header__edit-btn{
          display: inline-block;
          margin: 28px 0;
          padding-right: 20px;
          padding-left: 20px;
          line-height: 40px;
          color: #38aef0;
          font-size: 14px;
          border: 2px solid;
        }
      }
    }
  }

    .chat-body{
      position: relative;
      padding: 30px 0;
      height: calc(100% - 190px);
      overflow-y: scroll;
      line-height: 20px;

      ul{
        
      }

      .chat-messages{
        position: relative;
        right: 40px;
        left: 40px;
        padding: 0 0 20px 0;
        list-style: none;

        .chat-message{
          margin-bottom: 40px;
          line-height: 20px;
          list-style: none;

            .clearfix:after {
              content: '';
              display: block;
              clear: both;
              height: 0;
            }

            &__name{
              float: left;
              margin-bottom: 10px;
              font-weight: 600;
              font-weight: bold;
            }

            &__time{
              float: left;
              margin-left: 10px;
              color: #aaa;
              font-size: 12px;
            }

            &__body{
              font-size: 14px;
            }
      }
    }
  }

    .chat-footer{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px 40px;
      background-color: #ddd;

        .chat-footer__body{
          float: left;
          width: calc(100% - 115px);
          position: relative;
          padding: 0 10px;

          form{
            height: 50px;
            width: 100%;
            margin-top: 0em;

            #message_body{
              float: left;
              height: 50px;
              width: 100%;
              padding: 0 10px;
              line-height: 20px;
              border: none;
              resize: none;
              background-color: white;
              color: #434A54;
              text-align: left;
              display: block;
              position: relative;
            }

            i{
              float: right;
              position:absolute;
              top: 50%;
              left: 100%;
              margin-top:-0.5em;
              margin-left:-1.5em;
            }

            .hidden{
                display: none;
              }
          
          .form__submit{
              width: 100px;
              margin-left: 15px;
              line-height: 50px;
              color: #fff;
              background-color: #38aef0;
              text-align: center;
              border: none;
              position: absolute;
              }
            }
        }
      }
}
